<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8" />
    @*<base href="/Canada2DCode">*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Canada2DCode</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/angular")
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400">

    <link href="~/LandingPageContent/css/custom.css" rel="stylesheet" />
    <link href="~/LandingPageContent/css/flexslider.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/LandingPageContent/assets/ico/Canada2dCode_Logo_d200.png">
    <link href="~/LandingPageContent/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/LandingPageContent/css/templatemo-style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />


    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>


    <script src="~/Scripts/MyApp.js"></script>

    <script src="~/Scripts/_references.js"></script>

    

    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/jquery.singlePageNav.min.js"></script>
    <script src="~/LandingPageContent/js/flexslider.js"></script>
    @*<script src="~/Scripts/sticky-sidebar.js"></script>*@
   
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>

    <script src="~/Scripts/moment.min.js"></script>
</head>
@* Here  ng-app="MyApp" is used for auto-bootstrap an AngularJS application. here ng-app="MyApp" means <body> element is the owner
    of AngularJS application*@

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" style="display:inline-block;background-color:gainsboro; height:60px;" ng-controller="HomeController">

        <div class="navbar-header" style="margin-left:20px;">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-collapse collapse" href="/Canada2DCode/#topWrap" style="margin-top:10px;">
                <span>
                    <img src="~/Images/Canada2dCode_Logo_d200.png" alt="Smiley face" height="62" width="60" />
                </span>
                <span style="font-family:Arial;  font-size: 16px; ">Canada2DCode</span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/Canada2DCode/#featureWrap">Service</a></li>
                <li><a href="/Canada2DCode/#pricingWrap">Product</a></li>
                <li><a href="/Canada2DCode/#testimonialsWrap">About</a></li>
                <li><a href="/Canada2DCode/#careerWrap">Careers</a></li>
                <li><a href="/Canada2DCode/#contactWrap">Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="margin-right:60px;">

                <li ng-show="!username"><a href="/Canada2DCode/home/Customer">Login</a></li>
                <li ng-show="!username"><a href="/Canada2DCode/home/Register">Register</a></li>
                <li ng-show="username"><a href="/Canada2DCode/home/Product">2D Code List</a></li>
                <li ng-show="username"><a href="/Canada2DCode/home/ScanQRCode">Scan 2D Code</a></li>



                <li ng-show="username" class="btn-group">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user">&nbsp;{{usernameshow}}</i><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#" ng-click="Profile()">&nbsp;{{username}} - Profile</a>
                        </li>
                        <li>   <a class="dropdown-item" href="#" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>

            </ul>

        </div>

    </div>

    <div>
        @RenderBody()
    </div>

    <div class="element-content-box design-element-content-box user-selectable-element clickable-element has-popup image-element" data-element-id="id1560395829148"><div class="content-container content-container-type element-size-box element-size-target user-selectable-element clickable-element has-popup image-element" style="min-height: 5px;" data-element-id="id1560395829148"></div></div>
    <div class="content-container content-container-type element-size-box element-size-target header-element section-element-size-box">

        <hr />

        <footer>
            <div class="container">

                <div class="row">

                    <div class="col-md-12 text-center">
                        <p style="font-family:arial;font-size:14px;">
                            <a>Add：&nbsp;505 Consummer Road, Suit 307, Toronro, ON M2J 4A2, Canada&nbsp;&nbsp;|&nbsp;&nbsp;Tel：&nbsp;(01416) 728-0899</a>
                        </p>

                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p>Copyright &copy;2019 <a href="https://www.2dcodetech.com/">Canada 2D code</a>. All Rights Reserved</p>
                        <p class="social">
                            <a href="https://www.facebook.com/bootstrapbay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a href="https://twitter.com/bootstrapbay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a href="https://plus.google.com/+BootstrapbayThemes">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a href="http://www.youtube.com/user/bootstrapbayofficial">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </div>
       @RenderSection("scripts", required: false)
</body>
</html>
